{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IV 17-18</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link" href="/principal">Inicio</a>
          <a class="nav-link" href="/perfil">Perfil</a>
          <a class="nav-link" href="/restaurante/add/">Registrar restaurante</a>
          <a class="nav-link" href="/restaurante/list/">Lista de restaurantes</a>
          <a class="nav-link active" href="/contacto">Contacto</a>
          <a class="nav-link" href="/mapa">Mapa</a>

          <a class="nav-link" href="/accounts/logout/">Logout</a>
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">IV 17-18: Infraestructura Virtual</h1>
        <p class="lead blog-description">Pagina web basica con Django</p>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">

            <br><br>
            <h2 class="blog-post-title">Contacto Etsiit</h2>
            <p class="blog-post-meta">
              La Escuela Técnica Superior de Ingenierías Informática y de Telecomunicación (ETSIIT) de Granada
              es un centro docente universitario perteneciente a la Universidad de Granada, dedicado a la docencia
              e invesigación de los estudios relacionados con la informática, las ciencias de la computación y las
              telecomunicaciones.Se sitúa entre las cincuenta mejores escuelas de ingeniería informática del mundo,
              es la sexta a nivel europeo y el número uno en España antes de Madrid y Valencia.Se ubica en el Campus
              Universitario de Aynadamar, junto a la Facultad de Bellas Artes y al Centro de Investigación en Tecnologías
              de la Información y la comunicación de la UGR (CITIC-UGR).</p>
              <h3>Nos encontramos en la siguiente dirección:</h3><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.1385456037083!2d-3.626652284698886!3d37.19693857986877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fcdc123151a3%3A0x580c6fbc4062f1f5!2sUniversidad+de+Granada.+Facultad+de+Inform%C3%A1tica!5e0!3m2!1ses!2ses!4v1478536198287"
								width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </p>

          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title"></h2>
            <p class="blog-post-meta">
              </p>

          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title"></h2>
            <p class="blog-post-meta">
              </p>

          </div><!-- /.blog-post -->



        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">


          <div class="sidebar-module">

          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Copyright &#169; 2018. Carlos Toledano Delgado: Company name all rights reserved</p>
      <p>
        <a href="contacto.html">Back to top</a>
      </p>
    </footer>



  </body>
</html>
