{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IV 17-18</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link active" href="/">Inicio</a>
          <a class="nav-link" href="/accounts/login">Login/Registro</a>
          <a class="nav-link" href="/contacto">Contacto</a>
          <a class="nav-link" href="/mapa">Mapa</a>
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">IV 17-18: Infraestructura Virtual</h1>
        <p class="lead blog-description"></p>
      </div>
    </div>

    <div class="container">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Ejercicios TEMA 3</h2>
            <p class="blog-post-meta">
              <h3></h3>
              <div>
              <p>


            </p>

          </div><!-- /.blog-post -->



        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Copyright &#169; 2018. Carlos Toledano Delgado: Company name all rights reserved</p>
      <p>
        <a href="index.html">Back to top</a>
      </p>
    </footer>


  </body>
</html>
